services:
  blog-app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ../rpt-content:/usr/share/nginx/content:ro
    restart: unless-stopped
    networks:
      - edge

networks:
  edge:
    external: true
    name: edge
